{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="displayRecette"></div>

{% block javascripts %}
{{ parent()}}
{{ encore_entry_script_tags('displayRecette') }}
           
{% endblock %}

{% endblock %}
