{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
{{test}}

</div>

{% verbatim %}
  <div id="app">
    {{ message}}
  </div>
{% endverbatim %}

{% block javascripts %}
{{ parent()}}
{{ encore_entry_script_tags('products') }}
           
{% endblock %}

{% endblock %}
