// custom boostrap
$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

.navbar a {
    text-decoration: none;
    color: white;  
}

.item {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.item:hover {
  transition: .1s;
  transform: scale(1.01);
}

.item img {
  height: inherit;
  width:100%;
}