// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.navbar a {
    text-decoration: none;
    color: white;
    
}

.item {
    border: 1px solid black;
    border-radius: 10px;
}